/* --------------HEADER----------------- */
/* mobile */
@media only screen and (max-width: 640px) {
  #header {
    width: 100%;
    height: 40px;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .header__frame {
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 0.1px #444444;
  }

    /* ----------LOGO--------- */
  .header__logo {
    position: relative;
    display: flex;
    width: calc(100%/3);
    width: 80px;
    height: 40px;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    flex-shrink: 0;
  }
  .header__nav-menu {
    box-sizing: border-box;
    width: calc(100%/3);
    height: 100%;
    padding-left: 3%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
  }
  .header__nav-menu .menu__button {
    margin-right: 1rem;
    height: 2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .header__nav-menu .menu {
    visibility: hidden;
  }
  .header__nav-menu:hover .subnav {
    display: block !important;
  }

  /* subnav */
  .subnav {
    position: absolute;
    width: 100%;
    background-color: var(--white-color);
    left: 0;
    top: 0;
    border: 2px solid #000;
    border-radius: 0.4rem;
    display: none;
    z-index: 3;
    transform: translate(0%,0%);
  }
  .subnav::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
  }
  .subnav__header {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    flex-direction: r;
  }
  .subnav__title {
    display: inline-flex;
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 150;
    font-style: italic;
    padding-left: 2rem;
  }
  .subnav__close {
    display: inline-flex;
    position: relative;
    text-decoration: none;
    padding-right: 2rem;
    font-size: 25px;
    color: #7a7a7a;
  }
  .subnav__close:hover {
    cursor: pointer;
    color: #444444;
  }
  .subnav__list {
    list-style: none;
    padding-left: 2rem;
  }
  .subnav__item {
    line-height: 40px;
    font-size: 20px;
    font-weight: 300;
  }
  .subnav__item:hover {
    padding-left: 1rem;
  }
  .subnav__product-list {
    list-style: none;
    margin: 0px 0px 0px 24px;
  }
  .subnav__product-item {
    /* line-height: 35px; */
    font-size: 20px;
    font-weight: 300;
  }
  .subnav__product-item:hover {
    padding-left: 1rem;
    text-decoration: underline;  
  }
  .list-style {
    font-size: 12px;
    margin-bottom: 2px;
  }

  /* -----------DAT HANG_GIO HANG-------------- */
  .header__nav-right {
    width: calc(100%/3);
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
  }

  /* dat hang */
  .order {
    visibility: hidden;
  }
  .header__nav-cart {
    position: relative;
    width: 100px;
    padding-right: 3%; 
    display: flex;
    align-items: center;
    justify-content: right;
    flex-shrink: 0;
    cursor: pointer;
  }
  .header__nav-cart:hover .cart__container{
    display: block !important;
  }
  .cart__button {
    width: 2.6rem;
    height: 2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .cart {
    visibility: hidden;
  }

  /* cart */
  .cart__container {
    position: absolute;
    width: 350px;
    height: 625px;
    background-color: var(--white-color);
    right: 0;
    top: 38px;
    border: 2px solid #444444;
    border-radius: 4px;
    display: none;
    z-index: 3;
  }
  .cart__close {
    display: inline-flex;
    position: relative;
    text-decoration: none;
    padding: 2rem 0rem 0rem 2rem;
    font-size: 25px;
    color: #7a7a7a;
  }
  .cart__close:hover {
    cursor: pointer;
    color: #444444;
  }
  .cart__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, 'Source Sans Pro';
    height: 480px;
  }
  .cart__title {
    text-decoration: none;
    color: #444444;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
  }
  .cart__text {
    text-decoration: underline;
    color:#444444;
    font-size: 18px;
    line-height: 24px;
  }

  /* ------SLIDER--------- */
  .slider {
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider__frame {
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    border: solid 0.1px #444444;
    border-top: #444444;
  }
  .slider__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .slider__content .s__text1 {
    position: relative;
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text2 {
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text3 {
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text4 {
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text5 {
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text6 {
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text7 {
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
}
    
/* tablet */
@media screen and (min-width: 640px) and (max-width: 1024px) {
  #header {
    width: 100%;
    height: 40px;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .header__frame {
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 0.1px #444444;
  }

    /* ----------LOGO--------- */
  .header__logo {
    position: relative;
    display: flex;
    margin-left: 110px;
    width: 80px;
    height: 50px;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    flex-shrink: 0;
  }
  .header__nav-menu {
    box-sizing: border-box;
    padding-left: 1.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
  }
  .header__nav-menu .menu__button {
    margin-right: 1rem;
    height: 2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .header__nav-menu .menu {
    visibility: hidden;
  }
  .header__nav-menu:hover .subnav {
    display: block !important;
  }

  /* subnav */
  .subnav {
    position: absolute;
    width: 350px;
    height: 625px;
    background-color: var(--white-color);
    left: 0;
    top: 38px;
    border: 2px solid #000;
    border-radius: 0.4rem;
    display: none;
    z-index: 3;
  }
  .subnav::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
  }
  .subnav__header {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    flex-direction: r;
  }
  .subnav__title {
    display: inline-flex;
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 150;
    font-style: italic;
    padding-left: 2rem;
  }
  .subnav__close {
    display: inline-flex;
    position: relative;
    text-decoration: none;
    padding-right: 2rem;
    font-size: 25px;
    color: #7a7a7a;
  }
  .subnav__close:hover {
    cursor: pointer;
    color: #444444;
  }
  .subnav__list {
    list-style: none;
    padding-left: 2rem;
  }
  .subnav__item {
    line-height: 40px;
    font-size: 20px;
    font-weight: 300;
  }
  .subnav__item:hover {
    padding-left: 1rem;
  }
  .subnav__product-list {
    list-style: none;
    margin: 0px 0px 0px 24px;
  }
  .subnav__product-item {
    /* line-height: 35px; */
    font-size: 20px;
    font-weight: 300;
  }
  .subnav__product-item:hover {
    padding-left: 1rem;
    text-decoration: underline;  
  }
  .list-style {
    font-size: 12px;
    margin-bottom: 2px;
  }

  /* -----------DAT HANG_GIO HANG-------------- */
  .header__nav-right {
    position: relative;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
  }

  /* dat hang */
  .order {
    visibility: hidden;
  }
  .header__nav-cart {
    position: relative;
    width: 100px;
    padding-left: 5rem; 
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
  }
  .header__nav-cart:hover .cart__container{
    display: block !important;
  }
  .cart__button {
    /* margin-left: 10px; */
    width: 2.6rem;
    height: 2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .cart {
    visibility: hidden;
  }

  /* cart */
  .cart__container {
    position: absolute;
    width: 350px;
    height: 625px;
    background-color: var(--white-color);
    right: 0;
    top: 38px;
    border: 2px solid #444444;
    border-radius: 4px;
    display: none;
    z-index: 3;
  }
  .cart__close {
    display: inline-flex;
    position: relative;
    text-decoration: none;
    padding: 2rem 0rem 0rem 2rem;
    font-size: 25px;
    color: #7a7a7a;
  }
  .cart__close:hover {
    cursor: pointer;
    color: #444444;
  }
  .cart__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, 'Source Sans Pro';
    height: 480px;
  }
  .cart__title {
    text-decoration: none;
    color: #444444;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
  }
  .cart__text {
    text-decoration: underline;
    color:#444444;
    font-size: 18px;
    line-height: 24px;
  }

  /* ------SLIDER--------- */
  .slider {
    width: 100%;
    height: 30px;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .slider__frame {
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    border: solid 0.1px #444444;
    border-top: #444444;
  }
  .slider__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .slider__content .s__text1 {
    position: relative;
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text2 {
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text3 {
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text4 {
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text5 {
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text6 {
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text7 {
    padding-right: 2rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  #header {
    width: 100%;
    height: 2%;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .header__frame {
    width: 100%;
    height: 2%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 0.1px #444444;
  }

  /* ghi chu */
    /* ----------LOGO--------- */
  .header__logo {
    position: relative;
    display: flex;
    margin-left: 200px;
    width: 129px;
    height: 4rem;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    flex-shrink: 0;
  }
  .header__nav-menu {
    box-sizing: border-box;
    padding-left: 2.6rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
  }
  .header__nav-menu .menu__button {
    margin-right: 1rem;
    width: 2.8rem;
    height: 2.8rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .header__nav-menu .menu {
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .header__nav-menu:hover .subnav {
    display: block !important;
  }

  /* subnav */
  .subnav {
    position: absolute;
    width: 500px;
    height: 650px;
    background-color: var(--white-color);
    left: 0;
    top: 46px;
    border: 2px solid #000;
    border-radius: 0.4rem;
    display: none;
    z-index: 3;
  }
  .subnav::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
  }
  .subnav__header {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
  }
  .subnav__title {
    display: inline-flex;
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 150;
    font-style: italic;
    padding-left: 20px;
  }
  .subnav__close {
    display: inline-flex;
    text-decoration: none;
    padding-right: 2rem;
    font-size: 32px;
    color: #7a7a7a;
  }
  .subnav__close:hover {
    cursor: pointer;
    color: #444444;
  }
  .subnav__list {
    list-style: none;
    padding-left: 2rem;
  }
  .subnav__item {
    line-height: 40px;
    font-size: 25px;
    font-weight: 300;
  }
  .subnav__item:hover {
    padding-left: 2rem;
  }
  .subnav__product-list {
    list-style: none;
    margin: 0px 0px 0px 24px;
  }
  .subnav__product-item {
    font-size: 20px;
    font-weight: 300;
  }
  .subnav__product-item:hover {
    padding-left: 1rem;
    text-decoration: underline;  
  }
  .list-style {
    font-size: 12px;
    margin-bottom: 2px;
  }

  /* -----------DAT HANG_GIO HANG-------------- */
  .header__nav-right {
    position: relative;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
  }

  /* dat hang */
  .order {
    width: 13rem;
    height: 45px;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  .header__nav-cart {
    position: relative;
    width: 11.0rem;
    padding-left: 2rem; 
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
  }
  .header__nav-cart:hover .cart__container{
    display: block !important;
  }
  .cart__button {
    margin-left: 0.95rem;
    width: 2.6rem;
    height: 2.7rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .cart {
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }

  /* cart */
  .cart__container {
    position: absolute;
    width: 500px;
    height: 650px;
    background-color: var(--white-color);
    right: 0;
    top: 46px;
    border: 2px solid #444444;
    border-radius: 4px;
    display: none;
    z-index: 3;
  }
  .cart__close {
    margin: 12px 0px 0px 12px;
  }
  .cart__close:hover {
    cursor: pointer;
    color: #444444;
  }
  .cart__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, 'Source Sans Pro';
    height: 580px;
  }
  .cart__title {
    text-decoration: none;
    color: #444444;
    font-size: 36px;
    line-height: 40px;
  }
  .cart__text {
    text-decoration: underline;
    color: #444444;
    font-size: 18px;
    line-height: 24px;

  }

  /* ------SLIDER--------- */
  .slider {
    width: 100%;
    height: 45px;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .slider__frame {
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    border: solid 0.1px #444444;
    border-top: #444444;
  }
  .slider__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .slider__content .s__text1 {
    position: relative;
    padding-right: 2.5rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text2 {
    padding-right: 2.5rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text3 {
    padding-right: 2.5rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text4 {
    padding-right: 2.5rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text5 {
    padding-right: 2.5rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text6 {
    padding-right: 2.5rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .slider__content .s__text7 {
    padding-right: 2.5rem; 
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
}